# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Custom
*.cache
/GestionPANDA/GestionPANDA/obj/*
Debug/
obj/
/GestionPANDA/.vs/GestionPANDA/v16/.suo
/GestionPANDA/GestionPANDA/bin/Debug/GestionPANDA.exe
/GestionPANDA/GestionPANDA/bin/Debug/GestionPANDA.pdb
